<div class="container py-7">
  <div class="d-flex justify-content-between align-items-center flex-wrap p-3">
    <div class="col-lg-6 pe-md-5">
      <h3>Service - Clean</h3>
      <p>Committed to using high-quality cleaning solutions, imported with clear origin. Long-term quality assurance for your shoes. Enthusiastic and dedicated team of young people with a passion for shoes. State-of-the-art support equipment.</p>
      <ul class="pt-2">
        <li><p>Shoe-friendly refreshing cleaning</p></li>
        <li><p>Disinfection and deodorization with UV rays</p></li>
        <li><p>Quality warranty policy after care and recovery</p></li>
        <li><p>No fees when not satisfied with the quality and service</p></li>
      </ul>
      <p class="text-end fst-italic">OFFLINE ONLY</p>
    </div>
    <div class="col-lg-6">
      <img
        src="../../../../assets/img/background/how-to-clean-sneakers-2021.jpg"
        alt=""
      />
    </div>
  </div>
</div>
