.check-out-box h1 {
  font-weight: 500;
}
.check-out-info h4 {
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  width: 30px;
  height: 30px;
}

h5 {
  font-size: 14px;
}

.bold {
  font-weight: 500;
}

.box-order {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-person-info-item input[type="text"] {
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  width: 100%;
}

.box-person-info-item input:focus {
  border-bottom: 2px solid #666;
}

.box-person-info-item input[type="radio"] {
  background-color: #eee;
  box-shadow: none;
  border: none;
}

.box-person-info-item input[type="radio"]:focus,
.box-person-info-item input[type="radio"]:checked {
  outline: none;
  background-color: #333;
}

.check-out-info button {
  width: 100%;
  text-align: center;
  border: none;
  margin-top: 20px;
  padding: 15px 0;
  font-weight: 500;
  color: #fff;
  background: #111;
  transition: transform .3s;
}

.check-out-info button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.color {
  color: #ee4d2d;
}

.required {
  color: red;
}
