img {
  width: 100%;
}

h3 {
  font-weight: 500;
  font-size: 24px;
}


input,
select {
  outline: none;
  margin-top: 8px;
  width: 100%;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #707070;
}

input[type="submit"] {
  background-color: #111;
  color: #fff;
  transform: transform .2s;
}

input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.05);
}

select {
  background-color: #fff;
}

@media (max-width: 766px) {
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-6 {
    width: 50%;
  }

  .col-xs-6:first-child {
    padding-right: 20px;
  }
  .col-xs-6:last-child {
    padding-left: 20px;
  }
}
