<div class="container py-7">
  <div class="d-flex p-3 justify-content-between align-items-center flex-wrap">
    <div class="col-md-6">
      <h5 class="pt-4">We will bring you to you:</h5>
      <ul class="pt-3 ps-5">
        <li>Guarantee genuine shoes</li>
        <li>Enthusiastic customer support</li>
        <li>Listen to customer opinions</li>
        <li>Lifetime glue warranty</li>
        <li>Fast shipping</li>
      </ul>
      <a href="/all-services">See more services >> </a>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/image/background/service.png" alt="">
    </div>
  </div>
</div>
<div class="type-email py-7">
  <div class="container p-3">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="col-md-9 col-12 my-2">
        <input type="email" placeholder="Enter your email to receive the latest promotion from">
      </div>
      <div class="col-md-3 col-12 my-2 ps-ms-4 ps-sm-4">
        <button>SUBMIT</button>
      </div>
    </div>
  </div>
</div>
