<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div  class="col-md-5">
          <img src="../../../assets/img/background/background.jpg" alt="login" class="login-card-img">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div [routerLink]="['/home']" class="brand-wrapper">
              <img src="../../assets/img/icon/circle.png" alt="logo" class="logo">
            </div>
            <h2 class="login-card-description">Reset password</h2>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <div *ngIf="f['email'].errors && f['email'].touched">
                    <div class="required" *ngIf="f['email'].errors.required">Email is required</div>
                    <div class="required" *ngIf="f['email'].errors.pattern">Email isn't correct</div>
                  </div>
                <input type="email" formControlName="email" class="form-control" placeholder="Email address"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
              </div>

              <div class="form-group mb-4">
                <label for="phoneNumber" class="sr-only">Phone Number</label>
                <input type="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="Phone number"
                  [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }">
              </div>
              <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                <div *ngIf="f['phoneNumber'].errors['required']">Phone Number is required</div>
              </div>
              <button [disabled]="loading" class="btn btn-block login-btn mb-4">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Reset Password
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
            <p class="register-card-footer-text">Don't have an account? <a routerLink="/register" class="text-reset">Register here</a></p>
            <p class="login-card-footer-text">Already have an account? <a [routerLink]="['/login']" class="text-reset">Login here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
