<div class="list-product d-flex flex-wrap justify-content-start">
  <app-product-item
    *ngFor="let productItem of productsInfor"
    [product]="productItem" class="col-4 p-1 ps-3 pe-2"
  ></app-product-item>
</div>
<div class="paging d-flex justify-content-end p-2 pb-5">
  <a href="#">
    <img src="../../../../assets/image/icon/fast-forward -reverse.png" alt="" />
  </a>
  <a class="active" href="#">1</a>
  <a href="#">2</a>
  <a href="#">
    <img src="../../../../assets/image/icon//fast-forward.png" alt="" />
  </a>
</div>
