<div class="container py-7">
  <div class="text-center">
    <h4>FOUNDER</h4>
    <div class="d-flex flex-wrap">
      <div class="col-md-4 col-sm-12 d-flex flex-column justify-content-center align-items-center pt-5">
        <img src="../../../assets/img/avatar/huy.jpg" alt="">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100008582981127">NGUYEN GIA HUY</a>
        <p>Developer</p>
      </div>
      <div class="col-md-4 col-sm-12 d-flex flex-column justify-content-center align-items-center pt-5">
        <img src="../../../assets/img/avatar/truc.jpg" alt="">
        <a target="_blank" href="https://www.facebook.com/nguyenngoctruc021099">NGUYEN NGOC TRUC</a>
        <p>Developer</p>
      </div>
      <div class="col-md-4 col-sm-12 d-flex flex-column justify-content-center align-items-center pt-5">
        <img src="../../../assets/img/avatar/tam.jpg" alt="">
        <a target="_blank" href="https://www.facebook.com/nguyenminhtam701/">NGUYEN MINH TAM</a>
        <p>Developer</p>
      </div>
    </div>
  </div>
</div>
