.product-filter {
  float: right !important;
  position: relative !important;
}

span {
  width: 100px;
  margin-top: 9px;
}

.product-filter-box {
  position: absolute !important;
  width: 120px;
  right: 0;
  background-color: #fff;
  text-align: center;
}

.text-end {
  text-align: right;
  padding-right: 20px;
}

.form-select {
  height: 45px;
  padding: 5px 20px;
}

.form-select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-select:selected {
  border: 1px solid #707070 !important;
}
