<div class="container">
  <div class="py-3">
    <div class="path d-flex">
      <a class="ps-5" [routerLink]="'/all-products/' + brandInfor?.id">Products</a>
      <span>/</span>
      <a [routerLink]="'/all-products/' + brandInfor?.id">{{brandInfor?.name}}</a>
      <span>/</span>
      <a class="active" [routerLink]="['/all-products']">Details</a>
    </div>
    <div class="product-detail mt-4">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="col-lg-6 col-12 px-5">
          <img id="defaultIMG" [src]="environment.apiHost + productDetail?.pic1" alt="" />
          <div class="items d-flex pt-3">
            <img (click)="imgSelected(productDetail?.pic1)" [src]="environment.apiHost + productDetail?.pic1" alt="" />
            <img (click)="imgSelected(productDetail?.pic2)" [src]="environment.apiHost + productDetail?.pic2" alt="" />
            <img (click)="imgSelected(productDetail?.pic3)" [src]="environment.apiHost + productDetail?.pic3" alt="" />
          </div>
        </div>
        <div class="detail-content col-lg-6 col-12 ps-5">
          <div class="pt-10">
            <div class="p-sd">
              <h1>{{productDetail?.name}}</h1>
              <div class="price-item price">{{productDetail?.priceUSD | maskCurrency}}</div>
              <p>
                {{productDetail?.description}}
              </p>
              <h3>Size:</h3>
            </div>
            <div class="box-size d-flex flex-wrap justify-content-start size-container mt-4">
              <div *ngFor="let size of sizeProductInfors" class="col-xl-3 col-lg-5 col-md-3 col-5 mb-2">
                <div class="box-size-item">
                  <button class="size-item" [class.selected-size]="selectedSize?.id === size?.id" [disabled]="!size?.isAvailable" (click)="onSizeChange(size); activeBtnSubmit()">{{size?.productSize | maskSize}}</button>
                </div>
              </div>
            </div>
            <br />
            <div class="d-flex">
              <h3>Quantity:</h3>
              <input min="0" type="number" name="quantity" [(ngModel)]="selectedQuantity" (change)="onQuantityChange($event)" />
            </div>
            <button id="btnSubmit" (click)="AddProductToCart()" class="mt-5 py-3 px-5 btn btn-black">ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-5">
  <div class="container">
    <h2 class="px-4 mt-5">Maybe you will like</h2>
  </div>
  <app-index-special-product></app-index-special-product>
</div>
