a {
  color: #777;
  &:hover {
    color: #000;
  }
}

.active {
  font-weight: 500;
  color: #000;
}

span {
  padding: 0 10px;
}

.product-detail  img {
  width: 100%;
}

.product-detail .items img {
  width: 33.33333%;
  &:first-child {
    padding-right: 10px;
  }
  &:last-child {
    padding-left: 10px;
  }
  &:nth-child(2) {
    padding: 0 5px;
  }
  &:hover {
    cursor: pointer;
  }
}


.btn-black {
  font-weight: 500;
  background-color: #eee;
  color: #000;
  &:hover {
    background: #000;
    color: #fff;
  }
}

input[type="number"]{
  width: 60px;
  font-size: 16px;
  margin-bottom: 15px;
  padding-left: 15px;
  margin-left: 10px;
  border-radius: 100px;
  text-align: center;
}


.size-item {
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 100px;
  text-align: center;
  background-color: #eee;
  border: 2px solid #eee;
  &:focus {
    border-color: #000;
  }
}

.sold-out {
  background-color: #f9f9f9 !important;
  color: #999 !important;
  border: 2px solid #f9f9f9 !important;
  &:hover {
    cursor: not-allowed;
  }
}

.size-container {
  gap: 15px;
}

.selected-size {
  background-color: #eee;
  border-color: #000;
}

.price-item {
  font-weight: 700;
  font-size: 25px;
}

.price {
  color: #ff914d !important;
}

.box-size .col-lg-3 {
  padding-left: 0;
  padding-right: 0;
}

.activeBtnSubmit {
  background-color: #000;
  color: #fff;
}

.path > .ps-5 {
  padding-left: 15px !important;
}
