<div class="about-page py-7">
  <div class="container text-center">
    <h4 class="text-center">WHAT WE DO?</h4>
    <div class="d-flex flex-wrap mt-3">
      <div
        class="col-lg-4 col-md-6 col-xs-12 p-3 d-flex flex-column align-items-center"
      >
        <img src="../../../assets/img/icon/value.png" alt="" />
        <h5 class="mt-3">Mission</h5>
        <p>Bring the best value for you!</p>
      </div>
      <div
        class="col-lg-4 col-md-6 col-xs-12 p-3 d-flex flex-column align-items-center"
      >
        <img src="../../../assets/img/icon/stopwatch.png" alt="" />
        <h5 class="mt-3">Time</h5>
        <p>Absolute time saver!</p>
      </div>
      <div
        class="col-lg-4 col-md-6 col-xs-12 p-3 d-flex flex-column align-items-center"
      >
        <img src="../../../assets/img/icon/volume.png" alt="" />
        <h5 class="mt-3">Quality</h5>
        <p>Quality comes first!</p>
      </div>
      <div
        class="col-lg-4 col-md-6 col-xs-12 p-3 d-flex flex-column align-items-center"
      >
        <img src="../../../assets/img/icon/shield.png" alt="" />
        <h5 class="mt-3">Safe</h5>
        <p>Guaranteed genuine products!</p>
      </div>
      <div
        class="col-lg-4 col-md-6 col-xs-12 p-3 d-flex flex-column align-items-center"
      >
        <img src="../../../assets/img/icon/hand.png" alt="" />
        <h5 class="mt-3">Price</h5>
        <p>Reasonable price!</p>
      </div>
      <div
        class="col-lg-4 col-md-6 col-xs-12 p-3 d-flex flex-column align-items-center"
      >
        <img src="../../../assets/img/icon/support.png" alt="" />
        <h5 class="mt-3">Support</h5>
        <p>24/7 customer care</p>
      </div>
    </div>
  </div>
</div>
<div class="founder">
  <app-index-founder></app-index-founder>
</div>
