<div class="product-page">
  <div class="container">
    <div class="d-flex justify-content-between pt-3">
      <div class="side-bar col-lg-2">
        <app-product-sidebar
        [brandInfor]="brandInfor"
        [types]="productTypes"
        (productTypeId)="getValue($event)"
        ></app-product-sidebar>
      </div>
      <div class="col-lg-10 d-flex flex-column">
        <div class="p-2">
          <app-product-fliter
          (sortProduct)="getValueSort($event)">
        </app-product-fliter>
        </div>
        <div class="list-product">
          <app-product-list-item
          [productsInfor]="productsInfor"
          ></app-product-list-item>
        </div>
      </div>
    </div>
  </div>
</div>


