.py-7 {
  background-color: #eee;
}

img {
  width: 100%;
  min-height: 350px;
  height: 100%;
}

.product-box {
  min-height: 300px;
  background-color: #fff;
  margin-bottom: 1rem;
  position: relative;
}

.product-box p {
  margin-bottom: 0;
}

button {
  height: 50px;
  padding: 0 20px;
  font-weight: 500;
  font-size: 14px;
  background-color: #111;
  color:  #fff;
}

.product-box {
  transition: transform .3s;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.product-box:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.container {
  padding: 0;
}

a {
  color: #111;
  font-size: 18px;
  font-weight: 500;
}

a:hover {
  cursor: pointer;
  color: #ff914d;
}

.text-center button {
  border-radius: 50px;
  padding: 12px 34px;
  border-radius: 50px;
  transition: transform .3s
}

.text-center button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

button {
  border: none;
}

h6 {
  font-size: 16px;
  font-weight: 500;
}

.product-btn {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 55%;
  display: none;
  z-index: 50;
}

.product-box-conent h6 {
  margin-bottom: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-detail-btn {
  position: absolute;
  width: 100%;
  top: 65%;
}

.product-detail-btn button {
  width: 100%;
}
