<div class="py-7">
  <div class="container py-2">
    <div class="d-flex flex-wrap px-4">
      <div *ngFor="let product of popularProductList" class="col-lg-4 col-md-6 col-sm-12 p-3">
        <a routerLink="/details/{{ product.id }}">
          <div class="product-box"
          (mouseover)="showImg(true)"
          (mouseleave)="showImg(false)"
          >
            <img [src]="'assets' + product?.pic" [alt]="'assets' + product?.pic" />
            <div class="product-box-conent p-4">
              <h6>{{ product?.name }}</h6>
              <p>{{ product?.priceUSD | maskCurrency }}</p>
            </div>
            <div *ngIf="showImage" class="product-detail-btn">
              <button>DETAILS</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <button>See more</button>
  </div>
</div>
